<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certiscan.mapper.IndiceMapper">

<resultMap id="indiceResult" type="com.certicom.certiscan.domain.Indice">
	<id column="id_indice" property="id_indice" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<id column="id_tipo_documento" property="id_tipo_documento" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<id column="id_tipo_dato" property="id_tipo_dato" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	<result column="descripcion" property="descripcion" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="estado" property="estado" javaType="java.lang.Boolean" jdbcType="BOOLEAN"/>

</resultMap>

</mapper>	
