<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.certicom.certiscan.mapper.MenuMapper">

	<resultMap id="menuResult" type="com.certicom.certiscan.domain.Menu">
		<id column="cod_menu" property="cod_menu" />
		<result column="cod_sistema" property="cod_sistema" />
		<result column="cod_menu_padre" property="cod_menu_padre" />
		<result column="nombre" property="nombre" />
		<result column="descripcion" property="descripcion" />
		<result column="ind_activo" property="ind_activo" />
		<result column="fecha_registro" property="fecha_registro" />
		<result column="fecha_modif" property="fecha_modif" />
		<result column="usuario_registro" property="usuario_registro" />
		<result column="usuario_modif" property="usuario_modif" />
		<result column="icono" property="icono" />
		<result column="action" property="action" />
	</resultMap>

	<select id="listMenu" resultType="com.certicom.certiscan.domain.Menu">
		Select * from t_opcion_menu
	</select>

	<delete id="deleteMenu" parameterType="com.certicom.certiscan.domain.Menu">
		Delete from t_opcion_menu
		where cod_menu=#{cod_menu}
	</delete>

	<insert id="insertMenu" parameterType="com.certicom.certiscan.domain.Menu">
		Insert into t_opcion_menu
		(cod_menu_padre,nombre,cod_sistema,descripcion,ind_activo,fecha_registro,fecha_modif,usuario_registro,usuario_modif,icono)
		values
		(#{menuPadre.cod_menu},#{nombre},#{cod_sistema},#{descripcion},1,now(),now(),#{usuario_registro},#{usuario_modif},#{icono})
	</insert>

	<select id="findMenu" resultType="com.certicom.certiscan.domain.Menu"
		parameterType="int">
		Select * from t_opcion_menu
		where cod_menu=#{id}
	</select>
	
	<select id="findMenuxNombre" resultType="com.certicom.certiscan.domain.Menu"
		parameterType="String">
		Select * from t_opcion_menu op
		where op.nombre =#{nombreMenu}
	</select>

	<select id="findMenus" resultType="com.certicom.certiscan.domain.Menu">
		Select * from t_opcion_menu
	</select>

	<update id="updateMenu" parameterType="com.certicom.certiscan.domain.Menu">
		update t_opcion_menu
		set cod_sistema =#{cod_sistema},
		cod_menu_padre =#{cod_menu_padre},
		nombre =#{nombre},
		descripcion =#{descripcion},
		ind_activo =#{ind_activo},
		fecha_registro =#{fecha_registro},
		fecha_modif =#{fecha_modif},
		usuario_registro =#{usuario_registro},
		usuario_modif =#{usuario_modif}
		where cod_menu=#{cod_menu}
	</update>


	<select id="listMenuxSistema" parameterType="com.certicom.certiscan.domain.Perfil" resultMap="menuResult">
		select distinct m.cod_menu,m.cod_sistema,m.cod_menu_padre,m.nombre,m.icono,m.action
		from t_perfil p inner join t_opcion_menuxperfil o on p.cod_perfil=o.cod_perfil
		inner join t_opcion_menu m on o.cod_menu=m.cod_menu 
		inner join t_sistema s on s.cod_sistema=m.cod_sistema
		where p.cod_perfil=#{cod_perfil}
		order by  m.cod_menu asc;
	</select>	
	
	<!-- Para obtener la opción de Menu a la que pertenece la accion al registrar en la tabla Log -->
	<select id="opcionMenuByPrettyCod" resultType="int">
		SELECT cod_menu FROM t_opcion_menu WHERE action =#{action}	
	</select>
	<select id="opcionMenuByPretty" resultType="com.certicom.certiscan.domain.Menu"
		parameterType="String">
		SELECT * FROM t_opcion_menu WHERE action =#{action}	
	</select>

</mapper>	